body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}


header{
    display: flex;
    height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 80px;
    border-radius:20%;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 20px;
}

  nav a:hover{
   background-color: white;
   color: black;
   border-radius: 12px;
    align-items: center;
    
}


main {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.board-container {
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Texto negro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.board-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.board-info {
    text-align: left;
    width: 100%;
}

.board-info h2 {
    margin-bottom: 10px;
}

.board-info p {
    margin-bottom: 10px;
}

.board-info a {
    color: #000;
    text-decoration: none;
}

.board-info a:hover {
    text-decoration: underline;
}